.about-div{
    overflow: hidden;
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-wrap: wrap;
    background: #612f12;
    background: linear-gradient(268deg, rgba(97, 47, 18, 1) 0%, rgba(0, 0, 0, 1) 53%);
    height: fit-content;
    min-height: 80vh;
}

.portrait2-div {
    display: flex;
    align-items: end;
    transition: 0.7s;
}

.header-text2{
        font-weight: 400;
        display: flex;
        width: 100%;
        font-size: clamp(24px, 5vw, 38px);
        

    }

.abt-me-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    flex: 1;
    margin-left: 50px;
    padding: 25px;
}

.portrait-last {
   height: 70vh;

}

.personal-details {
    font-size: 20px;
}


@media (max-width: 1000px) {
.portrait2-div{
   margin-left: -420px;
}

    
}

