.home-div {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content ;
    min-height: 520px;
    padding: 2vh;
    background: #424242;
    background: radial-gradient(circle, rgba(26,26,26, 1) 0%, rgba(5,5,5, 1) 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.767);

}

.intro-div{
    display: flex;
    flex: 1;
    margin: 20px;
    margin-bottom: 10vh;
    max-width: 50vw;
    min-width: 300px;

}

.name-intro {
    font-size: 22px;
    text-wrap: wrap;
}

.name {
    font-weight: 500;
}

.portrait{
   display: flex;
    margin: 20px;
    margin-top: 0px;
    max-height: 400px;
    height: calc(30vw+10vh);
    min-height: 200px;
}

