.works-div {
    margin-top: 1px;
    display: flex;
    position: relative;
    z-index: 3;
    align-items: top;
    overflow-x: auto;
    scrollbar-width: 1px;
    min-height: 300px;
    white-space: nowrap;
    height: 80vh;
    background: rgba(26,26,26, 1);
    padding: 0px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.767);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;


  
}

.works-div .item{
    z-index: 3;
    padding: 20px;
    background: #240d00;
    background: linear-gradient(-90deg, rgba(36, 13, 0, 1) 0%, rgba(26, 26, 26, 1) 100%);
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100%-40px);
    min-width: 97%;
    scroll-snap-align: start;
}

.item .title{
    line-height: 5vh;
    font-weight: 500;
    font-size: 22px;
}

.description {
    padding-left: 20px;
    color: rgb(240,240,240);
    text-wrap: wrap;
    max-width: 40%;
    margin: 0px;
}



.image {
    height: 100%;
}

@media (max-width: 800px) {
    .item {
        flex-direction: column;
    
    }
    .description {
        font-size: 0;
        max-width: 100vw;
    }
    .title {
        font-size: 22px;
        
    }

    .image {
        height: 70%;
    }
    .image-logo {
        height: 50%;
    }



    
}
